*{
	box-sizing: border-box;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	padding: 10px;
}
.pre-line{
	white-space: pre-line;
}
.documentation{
	width: 70%;
}
.documentation-header, .documentation-body{		
	margin: auto;	
	border: 1px dashed #777
}
.documentation-header{
	text-align: center;
	font-size: 25px;
	color: #9da1c5;
	padding: 10px;
}
.documentation-header .documentation-subheader{
	display: block;
	font-size: 15px;
	color: #9da1c5;
	margin-top: 5px;
	color: #b3b3b3;
}
.documentation-header .documentation-subheader a{
	color: inherit;
}
.documentation-body {
	border-top: none;
	padding: 0 10px;
}
.documentation-body .documentation-item{
	display: flex;
	justify-content: space-between;
	font-weight: 900;
	align-items: center;
	margin: 0;
	padding: 1em 0;
	border-top: 1px dashed #777;
}
.documentation-body .documentation-item:first-child {
    	border-top: 0;
}
.documentation-body .documentation-item .key{
	color: #585555;
}
.documentation-body .documentation-item .value{
	color: #fbba43;
}
.documentation-body .documentation-item .value a:link {
    color: #5096ff;
}